polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.packagekit.system-sources-refresh") &&
        (subject.isInGroup("sudo") || (subject.user == "root")))
    {
        return polkit.Result.YES;
    }
});
